In [ ]:
#itertools: product, permutations, combinations, accumulate, groupby, and infinite iterators
from itertools import product
a = [1, 2]
b= [3, 4]
prod = product(a,b, repeat=2)
print(list(prod))

[(1, 3, 1, 3), (1, 3, 1, 4), (1, 3, 2, 3), (1, 3, 2, 4), (1, 4, 1, 3), (1, 4, 1, 4), (1, 4, 2, 3), (1, 4, 2, 4), (2, 3, 1, 3), (2, 3, 1, 4), (2, 3, 2, 3), (2, 3, 2, 4), (2, 4, 1, 3), (2, 4, 1, 4), (2, 4, 2, 3), (2, 4, 2, 4)]

In [ ]:
from itertools import permutations
a = [1, 2, 3]
perm = permutations(a)
print(list(perm))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [ ]:
from itertools import combinations, combinations_with_replacement
a = [1, 2, 3, 4]
comb = combinations(a, 2)
print(list(comb))
comb_wr = combinations_with_replacement(a, 2)
print(list(comb_wr))

[(1, 2), (1, 3), (1, 4), (2, 3), (2, 4), (3, 4)]
[(1, 1), (1, 2), (1, 3), (1, 4), (2, 2), (2, 3), (2, 4), (3, 3), (3, 4), (4, 4)]

In [ ]:
from itertools import accumulate
import operator
a = [1, 2, 3, 4]
acc = accumulate(a, func=operator.mul)
print(a)
print(list(acc))

[1, 2, 3, 4]
[1, 2, 6, 24]

In [ ]:
from itertools import groupby

def smaller_than_3(x):
  return x < 3

a = [1, 2, 3, 4]
group_obj = groupby(a, key=smaller_than_3)
for key, value in group_obj:
  print(key, list(value))

True [1, 2]
False [3, 4]

In [ ]:
from itertools import groupby

persons = [{'name': 'Tim', 'age': 27}, {'name': 'Dan', 'age': 25},
           {'name': 'Lisa', 'age': 27}, {'name': 'Claire', 'age': 28}]


group_obj = groupby(persons, key=lambda x: x['age'])
for key, value in group_obj:
  print(key, list(value))

27 [{'name': 'Tim', 'age': 27}]
25 [{'name': 'Dan', 'age': 25}]
27 [{'name': 'Lisa', 'age': 27}]
28 [{'name': 'Claire', 'age': 28}]

In [ ]:
from itertools import count, cycle, repeat

for i in count(10):
  print(i)
  if i == 15:
    break

10
11
12
13
14
15