In [14]:
#Lists: ordered, mutable, allows duplicate elements
mylist = ["banana", "cherry", "apple"]

for x in mylist:
  print(x)

if "apple" in mylist:
  print("yes")

else:
  print("no")

print(len(mylist))

mylist.append("lemon")
print(mylist)

mylist.insert(1, "blueberry")
print(mylist)

item = mylist.pop()
print(item)
print(mylist)

item2 = mylist.remove("cherry")
print(mylist)

item3 = mylist.reverse()
print(mylist)

mylist2 = [1, 2, 3, -1, -2, -3]
a = mylist2[1:4]
print(a)
print(mylist2)

new_list = sorted(mylist2)
print(mylist2)
print(new_list)

mylist3 = [0] * 5
print(mylist3)

new_list2 = mylist2 + mylist3
print(new_list2)

banana
cherry
apple
yes
3
['banana', 'cherry', 'apple', 'lemon']
['banana', 'blueberry', 'cherry', 'apple', 'lemon']
lemon
['banana', 'blueberry', 'cherry', 'apple']
['banana', 'blueberry', 'apple']
['apple', 'blueberry', 'banana']
[2, 3, -1]
[1, 2, 3, -1, -2, -3]
[1, 2, 3, -1, -2, -3]
[-3, -2, -1, 1, 2, 3]
[0, 0, 0, 0, 0]
[1, 2, 3, -1, -2, -3, 0, 0, 0, 0, 0]

In [18]:
list_org = ["banana", "cherry", "apple"]

list_cpy = list_org[:]

list_cpy.append("lemon")

print(list_cpy)
print(list_org)

['banana', 'cherry', 'apple', 'lemon']
['banana', 'cherry', 'apple']

In [19]:
mylist = [1, 2, 3, 4, 5, 6]
b = [i*i for i in mylist]

print(mylist)
print(b)

[1, 2, 3, 4, 5, 6]
[1, 4, 9, 16, 25, 36]