In [2]:
#Sets: unordered, mutable, no duplicates
myset = {1, 2, 3, 1, 2}
print(myset)

{1, 2, 3}

In [3]:
myset = set([1, 2, 3])
print(myset)

{1, 2, 3}

In [4]:
myset = set("Hello")
print(myset)

{'l', 'H', 'o', 'e'}

In [7]:
myset = set()
print(type(myset))

<class 'set'>

In [9]:
myset = set()

myset.add(1)
myset.add(2)
myset.add(3)

myset.remove(3)
myset.discard(2)
myset.discard(4)
print(myset)

{1}

In [10]:
myset = set()

myset.add(1)
myset.add(2)

myset.clear()

print(myset)

set()

In [11]:
myset = set()

myset.add(1)
myset.add(2)
myset.add(3)

print(myset.pop())

print(myset)

1
{2, 3}

In [13]:
myset = set()

myset.add(1)
myset.add(2)

for x in myset:
  print(x)

if 1 in myset:
  print("yes")

1
2
yes

In [15]:
odds = {1, 3, 5, 7, 9}
evens = {0, 2, 4, 6, 8}
primes = {2, 3, 5, 7}

u = odds.union(evens)
print(u)

i = odds.intersection(evens)
print(i)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
set()

In [19]:
setA = {1, 2, 3, 4, 5, 6, 7, 8, 9}
setB = {1, 2, 3, 10, 11, 12}

diff = setA.difference(setB)
print(diff)

diff2 = setB.symmetric_difference(setA)
print(diff2)

setA.update(setB)
print(setA)

setA.intersection_update(setB)
print(setA)

{4, 5, 6, 7, 8, 9}
{4, 5, 6, 7, 8, 9, 10, 11, 12}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
{1, 2, 3, 10, 11, 12}
{4, 5, 6, 7, 8, 9}
{4, 5, 6, 7, 8, 9, 10, 11, 12}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
{1, 2, 3, 10, 11, 12}

In [23]:
setA = {1, 2, 3, 4, 5, 6}
setB = {1, 2, 3}
setC = {7, 8}

print(setA.issubset(setB))
print(setA.issuperset(setB))
print(setA.isdisjoint(setC))

False
True
True

In [25]:
setA = {1, 2, 3, 4, 5, 6}

setB = setA.copy()

setB.add(7)
print(setB)
print(setA)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6}

In [26]:
a = frozenset([1, 2, 3, 4])

print(a)

frozenset({1, 2, 3, 4})