In [ ]:
#Dictionary: Key-Value pairs, Unordered, Mutable
mydict = {"name": "Max", "age": 28, "City": "New York"}
print(mydict)

mydict2 = dict(name="Mary", age=27, city="Boston")
print(mydict2)

{'name': 'Max', 'age': 28, 'City': 'New York'}
{'name': 'Mary', 'age': 27, 'city': 'Boston'}

In [1]:
mydict = {"name": "Max", "age": 28, "city": "New York"}
print(mydict)

value = mydict["age"]
print(value)

{'name': 'Max', 'age': 28, 'city': 'New York'}
28

In [2]:
mydict = {"name": "Max", "age": 28, "city": "New York"}
print(mydict)

mydict["email"] = "max@xyz.com"
print(mydict)

mydict["email"] = "coolmax@xyz.com"
print(mydict)

{'name': 'Max', 'age': 28, 'city': 'New York'}
{'name': 'Max', 'age': 28, 'city': 'New York', 'email': 'max@xyz.com'}
{'name': 'Max', 'age': 28, 'city': 'New York', 'email': 'coolmax@xyz.com'}

In [3]:
mydict = {"name": "Max", "age": 28, "city": "New York"}
print(mydict)

del mydict["name"]
print(mydict)

{'name': 'Max', 'age': 28, 'city': 'New York'}
{'age': 28, 'city': 'New York'}

In [6]:
mydict = {"name": "Max", "age": 28, "city": "New York"}
print(mydict)

mydict.pop("age")
print(mydict)

mydict.popitem()
print(mydict)

{'name': 'Max', 'age': 28, 'city': 'New York'}
{'name': 'Max', 'city': 'New York'}
{'name': 'Max'}

In [7]:
mydict = {"name": "Max", "age": 28, "city": "New York"}
print(mydict)

if "lastname" in mydict:
  print(mydict["lastname"])

{'name': 'Max', 'age': 28, 'city': 'New York'}

In [8]:
mydict = {"name": "Max", "age": 28, "city": "New York"}
print(mydict)

try:
  print(mydict["lastname"])
except:
  print("Error")

{'name': 'Max', 'age': 28, 'city': 'New York'}
Error

In [11]:
mydict = {"name": "Max", "age": 28, "city": "New York"}
print(mydict)

for key in mydict:
  print(key)

for key, value in mydict.items():
  print(key, value)

{'name': 'Max', 'age': 28, 'city': 'New York'}
name
age
city
name Max
age 28
city New York

In [13]:
mydict = {"name": "Max", "age": 28, "city": "New York"}
print(mydict)

mydict_cpy = mydict

mydict_cpy["email"] = "max@xyz.com"
print(mydict_cpy)
print(mydict)

{'name': 'Max', 'age': 28, 'city': 'New York'}
{'name': 'Max', 'age': 28, 'city': 'New York', 'email': 'max@xyz.com'}
{'name': 'Max', 'age': 28, 'city': 'New York', 'email': 'max@xyz.com'}

In [14]:
my_dict = {"name":"Max", "age":28, "email":"max@xyz.com"}
my_dict_2 = dict(name="Mary", age=27, city="Boston")

my_dict.update(my_dict_2)
print(my_dict)

{'name': 'Mary', 'age': 27, 'email': 'max@xyz.com', 'city': 'Boston'}

In [16]:
my_dict = {3: 9, 6: 36, 9: 81}
print(my_dict)

value = my_dict[3]
print(value)

mytuple = (8, 7)
mydict = {mytuple: 15}

print(mydict)

{3: 9, 6: 36, 9: 81}
9
{(8, 7): 15}