In [4]:
#Tuples: ordered, immutable, allows duplicate elements
mytuple = tuple(("Max", 28, "Boston"))
print(mytuple)

for x in mytuple:
  print(x)

if "Max" in mytuple:
  print("Yes")
else:
  print("No")

('Max', 28, 'Boston')
Max
28
Boston
Yes

In [5]:
#Tuple: ordered, immutable, allows duplicate elements
my_tuple = ('a', 'p', 'p', 'l', 'e')

my_list = list(my_tuple)
print(my_list)

my_tuple2 = tuple(my_list)
print(my_tuple2)

['a', 'p', 'p', 'l', 'e']
('a', 'p', 'p', 'l', 'e')

In [6]:
a = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

b = a[:6]
print(b)

(1, 2, 3, 4, 5, 6)

In [8]:
my_tuple = "Max", 28, "Boston"

name, age, city = my_tuple
print(name)
print(age)
print(city)

my_tuple2 = (0, 1, 2, 3, 4)

i1, *i2, i3 = my_tuple2

print(i1)
print(i2)
print(i3)

Max
28
Boston
0
[1, 2, 3]
4

In [9]:
import timeit
print(timeit.timeit(stmt="(0, 1, 2, 3, 4, 5)", number=1000000))
print(timeit.timeit(stmt="(0, 1, 2, 3, 4, 5)", number=1000000))

0.019035044999782258
0.01603554300027099