In [1]:
# itertools: product, permutation, combination, accumulate, groupby, and infinite iterators
from itertools import count, cycle, repeat

a = [1, 2, 3]
for i in repeat(1, 4):
  print(i)

1
1
1
1

In [3]:
#lambda arguments: expression
add10 = lambda x: x + 10
print(add10(5))

def add10_func(x):
  return x +10

mult = lambda x,y: x*y
print(mult(2,7))

15
14

In [5]:
points2D = [(1, 2), (15, 1), (5, -1), (10, 4)]
points2D_sorted = sorted(points2D, key=lambda x: x[1])
points3D_sorted = sorted(points2D, key=lambda x: x[0] + x[1])
print(points2D)
print(points2D_sorted)
print(points3D_sorted)

[(1, 2), (15, 1), (5, -1), (10, 4)]
[(5, -1), (15, 1), (1, 2), (10, 4)]
[(1, 2), (5, -1), (10, 4), (15, 1)]

In [7]:
# lambda
#map(func, seq)
a = [1, 2, 3, 4, 5]
b = map(lambda x: x*2, a)
print(list(b))

[2, 4, 6, 8, 10]

In [8]:
# lambda
# filter(func, seq)
a = [1, 2, 3, 4, 5, 6]
b = filter(lambda x: x%2==0, a)
print(list(b))

[2, 4, 6]

In [9]:
# lambda
# reduce(func, seq)
from functools import reduce
a = [1, 2, 3, 4]

product_a = reduce(lambda x,y: x*y, a)
print(product_a)

24